#root {
  height: 100vh;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  /* pointer-events: none; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.react-chatbot-kit-chat-container {
  width: 45%;
  box-shadow: 0px 0px 10px 2px rgb(212, 209, 209);
  border-radius: 10px;
  height: 75vh;
}

.react-chatbot-kit-chat-header {
  background-color: rgb(212 209 209);
}

.react-chatbot-kit-chat-bot-message {
  margin: 0px 2px;
}
.react-chatbot-kit-chat-bot-message {
  width: auto;
  max-width: 100%;
  min-width: none;
  background-color: #dbdcdd;
  color: black;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #dbdcdd;
}
.react-chatbot-kit-chat-input-container {
  position: initial;
}
.react-chatbot-kit-chat-input {
  margin: 5px;
  /* padding: 10px; */
  /* pointer-events: none; */
  background-color: whitesmoke;
}

.react-chatbot-kit-chat-btn-send {
  margin: 5px 5px 5px 0px;
  width: auto;
  cursor: pointer;
  /* width: 60px; */
  background-color: white;
  /* pointer-events: none; */
}
.react-chatbot-kit-chat-message-container {
  overflow-x: hidden;
}

.react-chatbot-kit-chat-inner-container {
  height: auto;
}

.react-chatbot-kit-chat-btn-send-icon {
  fill: #6f6f70;
  width: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.control-panel {
  font-size: 12px;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  width: 95%;
  margin: 0.5rem;
  display: flex;
  /* flex-direction: column; */
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}
.control-panel i {
  margin: 0rem 0.5rem;
  cursor: pointer !important;
  pointer-events: all;
}
.clickable {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  color: lightgray;
}

.App-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  width: 100%;
  background: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
}
.pdf-display,
.chatbot-display {
  width: 50%;
}

.chatbot-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: fixed;
  right: -9%;
  top: 10%;
}

.react-chatbot-kit-user-chat-message {
  font-family: "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  color: black;
  font-weight: normal;
}

.main-button {
  height: 70px;
  width: 70px;
  border-radius: 100px;
  background: rgb(212 209 209);
  border: none;
  color: black;
  /* border: 0.5px solid black; */
  margin-top: 10px;
  position: fixed;
  right: 13%;
  bottom: 1%;
  cursor: pointer;
}

.pdf-display {
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-color: #c9deee; */
  max-width: 35rem;
}

#pdf-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

/* .react-pdf__Page__canvas,
.react-pdf__Page__textContent {
  width: 535px !important;
  height: 570px !important;
} */

.close-btn {
  text-align: center;
  background-color: gray;
  cursor: pointer;
  color: white;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 100px;
}

.close-btn:hover {
  background-color: rgb(177, 174, 174);
}

/* .react-chatbot-kit-chat-bot-message {
  padding: 5px 10px;
} */

.react-chatbot-kit-chat-message-container {
  height: 460px !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: transparent;
}
