.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-chatbot-kit-chat-container {
  width: 30%;
}

.react-chatbot-kit-chat-bot-message {
  margin: 0px 2px;
}
.react-chatbot-kit-chat-bot-message {
  width: auto;
  max-width: 100%;
  min-width: none;
}
.react-chatbot-kit-chat-input {
  display: none;
}

.react-chatbot-kit-chat-btn-send {
  display: none;
}
.react-chatbot-kit-chat-message-container {
  /* overflow-x: hidden; */
}

.react-chatbot-kit-chat-inner-container {
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.control-panel {
  font-size: 16px;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  width: 90%;
  margin: 1rem 0rem;
  display: flex;
  /* flex-direction: column; */
  align-items: baseline;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}
.control-panel i {
  margin: 0rem 0.5rem;
}
.clickable {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  color: lightgray;
}
